@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f8ffec;
  font-family: 'Poppins', sans-serif;
  color: rgb(12, 56, 19);
}

/* HEADER */

.header-container {
  height: 100vh;
  width: 100vw;
  background-color: #f8ffec;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 112px;
  position: relative;
}

h1 {
  font-size: 50px;
  letter-spacing: 1px;
}

.social-media {
  margin-top: 1rem;
  display: flex;
}

.social-media a {
  text-decoration: none;
  color: rgb(12, 56, 19);
  padding: 1rem 3rem;
  margin: 10px;
  border: 1px solid rgb(12, 56, 19);
  border-radius: 10px;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
}

a:hover {
  background-color: rgb(208, 241, 203);
}

/* MENU SANDWICH */

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
  width: 50px;
  height: 2px;
  background-color: rgb(12, 56, 19);
  position: absolute;
  border-radius: 4px;
  transition: 0.5s, ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

#toggle {
  display: none;
  visibility: hidden;
}

/* MENU */

.menu {
  position: absolute;
  top: 28px;
  right: 30px;
  background-color: transparent;
  height: 4px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px #ffffff;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}

.menu-items ul {
  list-style-type: none;
}

.menu-items ul li a {
  margin: 10px 0;
  color: rgb(12, 56, 19);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
}

/* MENU ANIMATION */

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translate(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  top: 48px;
}

#toggle:checked + .checkbox {
  background-color: #ffffff;
}

#toggle:checked ~ .menu {
  box-shadow: 0px 0px 0px 100vmax #ffffff;
  z-index: 1;
}

#toggle:checked ~ .menu-items{
  visibility: visible;
  opacity: 1;
}

/* CARDS */

.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3rem 0;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

/* RAMBLE */

.card-ramble {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin:3rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8cfbc;
  background-image: url('./img/ramble.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: rgb(12, 56, 19);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card-ramble-text {
  width: 40%;
  letter-spacing: 1px;
  color:rgb(109,109,109)
}

.card-ramble-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

.card-ramble-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  /* border: 10px solid #ffffff; */
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.card-ramble-wrapper h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.5s ease-in-out;
}

.card-ramble-wrapper p {
  font-size: 0;
  visibility: visible;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.card-ramble:hover{
  filter: unset;
}

.card-ramble:hover > .card-ramble-wrapper::before {
  height: 200px;
  width: 200px;
  opacity: 1;
}

.card-ramble:hover > .card-ramble-wrapper p {
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}

/* WEATHER APP */

.card-weather {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin:3rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8cfbc;
  background-image: url('./img/weather.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: rgb(12, 56, 19);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card-weather-text {
  width: 40%;
  letter-spacing: 1px;
  color:rgb(109,109,109)
}

.card-weather-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

.card-weather-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  /* border: 10px solid #ffffff; */
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.card-weather-wrapper h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.5s ease-in-out;
}

.card-weather-wrapper p {
  font-size: 0;
  visibility: visible;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.card-weather:hover{
  filter: unset;
}

.card-weather:hover > .card-weather-wrapper::before {
  height: 200px;
  width: 200px;
  opacity: 1;
}

.card-weather:hover > .card-weather-wrapper p {
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}

/* BANK */

.card-bank {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin:3rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8cfbc;
  background-image: url('./img/bank.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: rgb(12, 56, 19);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card-bank-text {
  width: 40%;
  letter-spacing: 1px;
  color:rgb(109,109,109)
}

.card-bank-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

.card-bank-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  /* border: 10px solid #ffffff; */
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.card-bank-wrapper h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.5s ease-in-out;
}

.card-bank-wrapper p {
  font-size: 0;
  visibility: visible;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.card-bank:hover{
  filter: unset;
}

.card-bank:hover > .card-bank-wrapper::before {
  height: 200px;
  width: 200px;
  opacity: 1;
}

.card-bank:hover > .card-bank-wrapper p {
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}
/* COFFEE CONECTION */

.card-coffee {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin:3rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8cfbc;
  background-image: url('./img/coffee.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: rgb(12, 56, 19);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card-coffee-text {
  width: 40%;
  letter-spacing: 1px;
  color:rgb(109,109,109)
}

.card-coffee-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

.card-coffee-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  /* border: 10px solid #ffffff; */
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.card-coffee-wrapper h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.5s ease-in-out;
}

.card-coffee-wrapper p {
  font-size: 0;
  visibility: visible;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.card-coffee:hover{
  filter: unset;
}

.card-coffee:hover > .card-coffee-wrapper::before {
  height: 200px;
  width: 200px;
  opacity: 1;
}

.card-coffee:hover > .card-coffee-wrapper p {
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}

/* ACEBOOK */
.card-acebook {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin:3rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8cfbc;
  background-image: url('./img/acebook.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: rgb(12, 56, 19);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card-acebook-text {
  width: 40%;
  letter-spacing: 1px;
  color:rgb(109,109,109)
}

.card-acebook-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

.card-acebook-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  /* border: 10px solid #ffffff; */
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.card-acebook-wrapper h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.5s ease-in-out;
}

.card-acebook-wrapper p {
  font-size: 0;
  visibility: visible;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.card-acebook:hover{
  filter: unset;
}

.card-acebook:hover > .card-acebook-wrapper::before {
  height: 200px;
  width: 200px;
  opacity: 1;
}

.card-acebook:hover > .card-acebook-wrapper p {
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}

/* MAKERSBNB */

.card-bnb {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin:3rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8cfbc;
  background-image: url('./img/bnb.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: rgb(12, 56, 19);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card-bnb-text {
  width: 40%;
  letter-spacing: 1px;
  color:rgb(109,109,109)
}

.card-bnb-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

.card-bnb-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  /* border: 10px solid #ffffff; */
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.card-bnb-wrapper h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.5s ease-in-out;
}

.card-bnb-wrapper p {
  font-size: 0;
  visibility: visible;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.card-bnb:hover{
  filter: unset;
}

.card-bnb:hover > .card-bnb-wrapper::before {
  height: 200px;
  width: 200px;
  opacity: 1;
}

.card-bnb:hover > .card-bnb-wrapper p {
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 100px;
  background-color: rgb(12, 56, 19);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8ffec;
}