/* CARDS */

.container {
height: auto;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
margin: 3rem 0;
}

.card-container {
display: flex;
justify-content: space-evenly;
align-items: center;
width: 90%;
}

/* RAMBLE */

.card-ramble {
width: 300px;
height: 300px;
border-radius: 100%;
margin:3rem 0 0 0;
display: flex;
align-items: center;
justify-content: center;
background-color: #c8cfbc;
background-image: url('./img/ramble.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
filter: grayscale(0.5);
color: rgb(12, 56, 19);
cursor: pointer;
transition: 0.5s ease-in-out;
}

.card-ramble-text {
width: 40%;
letter-spacing: 1px;
color:rgb(109,109,109)
}

.card-ramble-wrapper {
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
position: relative;
}

.card-ramble-wrapper::before {
content: '';
position: absolute;
height: 100px;
width: 100px;
border-radius: 50%;
display: block;
/* border: 10px solid #ffffff; */
opacity: 0;
transition: 0.5s ease-in-out;
}

.card-ramble-wrapper h2 {
font-size: 30px;
text-transform: uppercase;
letter-spacing: 4px;
margin: 0;
transition: 0.5s ease-in-out;
}

.card-ramble-wrapper p {
font-size: 0;
visibility: visible;
opacity: 0;
font-weight: bold;
text-transform: uppercase;
transition: 0.5s ease-in-out;
}

.card-ramble:hover{
filter: unset;
background-color: transparent;
}

.card-ramble:hover > .card-ramble-wrapper::before {
height: 200px;
width: 200px;
opacity: 1;
}

.card-ramble:hover > .card-ramble-wrapper p {
opacity: 1;
visibility: visible;
font-size: 14px;
}


/* WEATHER APP */

.card-weather {
width: 300px;
height: 300px;
border-radius: 100%;
margin:3rem 0 0 0;
display: flex;
align-items: center;
justify-content: center;
background-color: #c8cfbc;
background-image: url('./img/weather.gif');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
filter: grayscale(0.5);
color: rgb(12, 56, 19);
cursor: pointer;
transition: 0.5s ease-in-out;
}

.card-weather-text {
width: 40%;
letter-spacing: 1px;
color:rgb(109,109,109)
}

.card-weather-wrapper {
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
position: relative;
}

.card-weather-wrapper::before {
content: '';
position: absolute;
height: 100px;
width: 100px;
border-radius: 50%;
display: block;
/* border: 10px solid #ffffff; */
opacity: 0;
transition: 0.5s ease-in-out;
}

.card-weather-wrapper h2 {
font-size: 30px;
text-transform: uppercase;
letter-spacing: 4px;
margin: 0;
transition: 0.5s ease-in-out;
}

.card-weather-wrapper p {
font-size: 0;
visibility: visible;
opacity: 0;
font-weight: bold;
text-transform: uppercase;
transition: 0.5s ease-in-out;
}

.card-weather:hover{
filter: unset;
}

.card-weather:hover > .card-weather-wrapper::before {
height: 200px;
width: 200px;
opacity: 1;
}

.card-weather:hover > .card-weather-wrapper p {
opacity: 1;
visibility: visible;
font-size: 14px;
}

/* BANK */

.card-bank {
width: 300px;
height: 300px;
border-radius: 100%;
margin:3rem 0 0 0;
display: flex;
align-items: center;
justify-content: center;
background-color: #c8cfbc;
background-image: url('./img/bank.gif');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
filter: grayscale(0.5);
color: rgb(12, 56, 19);
cursor: pointer;
transition: 0.5s ease-in-out;
}

.card-bank-text {
width: 40%;
letter-spacing: 1px;
color:rgb(109,109,109)
}

.card-bank-wrapper {
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
position: relative;
}

.card-bank-wrapper::before {
content: '';
position: absolute;
height: 100px;
width: 100px;
border-radius: 50%;
display: block;
/* border: 10px solid #ffffff; */
opacity: 0;
transition: 0.5s ease-in-out;
}

.card-bank-wrapper h2 {
font-size: 30px;
text-transform: uppercase;
letter-spacing: 4px;
margin: 0;
transition: 0.5s ease-in-out;
}

.card-bank-wrapper p {
font-size: 0;
visibility: visible;
opacity: 0;
font-weight: bold;
text-transform: uppercase;
transition: 0.5s ease-in-out;
}

.card-bank:hover{
filter: unset;
}

.card-bank:hover > .card-bank-wrapper::before {
height: 200px;
width: 200px;
opacity: 1;
}

.card-bank:hover > .card-bank-wrapper p {
opacity: 1;
visibility: visible;
font-size: 14px;
}
/* COFFEE CONECTION */

.card-coffee {
width: 300px;
height: 300px;
border-radius: 100%;
margin:3rem 0 0 0;
display: flex;
align-items: center;
justify-content: center;
background-color: #c8cfbc;
background-image: url('./img/coffee.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
filter: grayscale(0.5);
color: rgb(12, 56, 19);
cursor: pointer;
transition: 0.5s ease-in-out;
}

.card-coffee-text {
width: 40%;
letter-spacing: 1px;
color:rgb(109,109,109)
}

.card-coffee-wrapper {
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
position: relative;
}

.card-coffee-wrapper::before {
content: '';
position: absolute;
height: 100px;
width: 100px;
border-radius: 50%;
display: block;
/* border: 10px solid #ffffff; */
opacity: 0;
transition: 0.5s ease-in-out;
}

.card-coffee-wrapper h2 {
font-size: 30px;
text-transform: uppercase;
letter-spacing: 4px;
margin: 0;
transition: 0.5s ease-in-out;
}

.card-coffee-wrapper p {
font-size: 0;
visibility: visible;
opacity: 0;
font-weight: bold;
text-transform: uppercase;
transition: 0.5s ease-in-out;
}

.card-coffee:hover{
filter: unset;
}

.card-coffee:hover > .card-coffee-wrapper::before {
height: 200px;
width: 200px;
opacity: 1;
}

.card-coffee:hover > .card-coffee-wrapper p {
opacity: 1;
visibility: visible;
font-size: 14px;
}

/* ACEBOOK */
.card-acebook {
width: 300px;
height: 300px;
border-radius: 100%;
margin:3rem 0 0 0;
display: flex;
align-items: center;
justify-content: center;
background-color: #c8cfbc;
background-image: url('./img/acebook.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
filter: grayscale(0.5);
color: rgb(12, 56, 19);
cursor: pointer;
transition: 0.5s ease-in-out;
}

.card-acebook-text {
width: 40%;
letter-spacing: 1px;
color:rgb(109,109,109)
}

.card-acebook-wrapper {
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
position: relative;
}

.card-acebook-wrapper::before {
content: '';
position: absolute;
height: 100px;
width: 100px;
border-radius: 50%;
display: block;
/* border: 10px solid #ffffff; */
opacity: 0;
transition: 0.5s ease-in-out;
}

.card-acebook-wrapper h2 {
font-size: 30px;
text-transform: uppercase;
letter-spacing: 4px;
margin: 0;
transition: 0.5s ease-in-out;
}

.card-acebook-wrapper p {
font-size: 0;
visibility: visible;
opacity: 0;
font-weight: bold;
text-transform: uppercase;
transition: 0.5s ease-in-out;
}

.card-acebook:hover{
filter: unset;
}

.card-acebook:hover > .card-acebook-wrapper::before {
height: 200px;
width: 200px;
opacity: 1;
}

.card-acebook:hover > .card-acebook-wrapper p {
opacity: 1;
visibility: visible;
font-size: 14px;
}

/* MAKERSBNB */

.card-bnb {
width: 300px;
height: 300px;
border-radius: 100%;
margin:3rem 0 0 0;
display: flex;
align-items: center;
justify-content: center;
background-color: #c8cfbc;
background-image: url('./img/bnb.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
filter: grayscale(0.5);
color: rgb(12, 56, 19);
cursor: pointer;
transition: 0.5s ease-in-out;
}

.card-bnb-text {
width: 40%;
letter-spacing: 1px;
color:rgb(109,109,109)
}

.card-bnb-wrapper {
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
position: relative;
}

.card-bnb-wrapper::before {
content: '';
position: absolute;
height: 100px;
width: 100px;
border-radius: 50%;
display: block;
/* border: 10px solid #ffffff; */
opacity: 0;
transition: 0.5s ease-in-out;
}

.card-bnb-wrapper h2 {
font-size: 30px;
text-transform: uppercase;
letter-spacing: 4px;
margin: 0;
transition: 0.5s ease-in-out;
}

.card-bnb-wrapper p {
font-size: 0;
visibility: visible;
opacity: 0;
font-weight: bold;
text-transform: uppercase;
transition: 0.5s ease-in-out;
}

.card-bnb:hover{
filter: unset;
}

.card-bnb:hover > .card-bnb-wrapper::before {
height: 200px;
width: 200px;
opacity: 1;
}

.card-bnb:hover > .card-bnb-wrapper p {
opacity: 1;
visibility: visible;
font-size: 14px;
}