.about {
    height: 40vh;
    background-color: #f8ffec;
    /* background-image: url('./img/background.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}