.about {
    position: absolute;
    width: 600px;
    height: 62px;
    left: 200px;
    top: 700px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.about p {
    color: #F9FAFB;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

@media only screen and (max-width: 850px) {
    .about {
        width: 318px;
        max-width: 95%;
        left: 20vw;
        top: 300px;
        margin-top: 150px;
    }
}