@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.box-blog {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 300%;
    left: 70px;
    top: 136px;
    background: linear-gradient(106.51deg, rgba(255, 255, 255, 0.05) 3.44%, rgba(255, 255, 255, 0.02) 64.82%);
    backdrop-filter: blur(15px);
    border-radius: 24px;
}

* {
    box-sizing: border-box;
}

.all {
    position: relative;
    padding-bottom: 20%;
    padding-top: 50px;
    margin: 5%
}
.blog-row {
    margin: 0 -5px;
}

.blog-row:after {
    content: "";
    display: table;
    clear: both;
  }

.blog-column{
    float: left;
    width: 33%;
    padding: 0 10px;
    margin-top: 20px;
}

.blog-card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    border-radius: 30px;
}

.description {
    padding: 2px 16px;
}

.blog-column a {
    text-decoration: none;
    color: black;
}

.blog-card:hover {
   padding: 10px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .blog-column {
        width: 80%;
        display: block;
        margin-bottom: 20px;
    }

    .box-blog {
        width: 100%;
        height: 0;
        top: 36px;
    }
  }