@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body {
  background-color: #121212; 
  min-width: 100vw; 
}

/* Eclipse */

.container {
    position: absolute;
    width: 723.06px;
    height: 723.06px;
    left: -365px;
    top: -169.06px;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
    opacity: 0.8;
    filter: blur(100px);
    transform: rotate(-17.38deg);    
}

/* ui */

.box {
    box-sizing: border-box;
    position: absolute;
    width: 110em;
    height: 500px;
    left: 70px;
    top: 136px;
    background: linear-gradient(106.51deg, rgba(255, 255, 255, 0.05) 3.44%, rgba(255, 255, 255, 0.02) 64.82%);
    backdrop-filter: blur(1px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 24px;
}

.box h1 {
    position: absolute;
    width: 518px;
    max-width: 80%;
    height: 162px;
    left: 150px;
    top: 160px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #F9FAFB;
    align-items: center;
}

.name {
    background: linear-gradient(90deg, #F59E0B 39.95%, #EF4444 77.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.ocupation {
    background: linear-gradient(90deg, #8B5CF6 0%, #EC4899 43.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
}

.avatar {
    position: absolute;
    width: 367px;
    height: 467px;
    left: calc(50% - 67px/2 + 277.5px);
    top: 104px;
}

/* responsive image */

@media only screen and (max-width: 850px) {
    .avatar {
        display: none;
        visibility: hidden;
    }

    .box{
        text-align: center;
        max-width: 70%;
        height: 260px;
        background: linear-gradient(106.51deg, rgba(255, 255, 255, 0.05) 3.44%, rgba(255, 255, 255, 0.02) 64.82%);
    }

    .box h1 {
        width: 318px;
        max-width: 75%;
        left: 40px;
        top: 0px;
        font-size: 26px;
    }

}