@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


.box-project {
    box-sizing: border-box;
    position: absolute;
    width: 110em;
    height: 100%px;
    left: 70px;
    top: 136px;
    background: linear-gradient(106.51deg, rgba(255, 255, 255, 0.05) 3.44%, rgba(255, 255, 255, 0.02) 64.82%);
    backdrop-filter: blur(15px);
    border-radius: 24px;
}

.card {
    padding-bottom: 20%;
    padding-top: 50px;
    margin: 5%
}

.row {
    margin: 0, 5px;
}

.column{
    width: 40%;
    float: left;
}

.card h1 {
    position: absolute;
    width: 518px;
    max-width: 80%;
    height: 162px;
    left: 150px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #F9FAFB;
    align-items: center;
    text-align: left;
}

.card p {
    position: relative;
    color: #F9FAFB;
    font-family: 'Poppins', sans-serif;
    width: 700px;
    padding-top: 10%;
    text-align: left; 
}


.card img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    size: cover;
    filter: grayscale(0.5);
    cursor: pointer; 
    transition: 0.3s ease-in-out;
    margin-left: 160px;
}

.github-link {
    float: left;
    /* background: linear-gradient(45deg, #d7bfdf 0%, #e0c3fa 43.9%); */
    border-style: solid;
    border-color: rgb(183, 74, 255);
    color: rgb(233, 220, 236);
    margin: 30px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.github-link:hover {
    background: linear-gradient(45deg, #d7bfdf 0%, #dda4f8 50%);
    color: black;
}

.card img:hover{
    filter: grayscale(0);
    width: 205px;
    height: 205px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 850px) {
    .column {
        width: 80%;
        display: block;
        margin-bottom: 20px;
        position: relative;
    }

    .box-project {
        width: 100%;
        height: 0;
        top: 36px;
    }

    .card {
        padding-top: 0;
    }

    .card h1 {
        position: relative;
        left: 0;
        height: fit-content;
    }

    .card p {
        position: relative;
        color: #F9FAFB;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        padding-top: 0;
    }

    .card img {
        display: none;
    }
}