.skills {
    height: 100px;
    margin-top: 65px;
    width: 60%;
}

.skills img {
    padding: 20px;
    width: 55px;
    height: 55px;
}


@media only screen and (max-width: 850px) {
    .skills {
        height: 100px;
        margin-top: 100%;
        width: 100%;
    }
}