.skills {
    height: 100px;
    margin-top: 65px;
    width: 60%;
}

.skill-name {
    color: #f1f1f1;
}

.skills img {
    width: 55px;
    height: 55px;
    margin: 20px;
}


@media only screen and (max-width: 850px) {
    .skills {
        display: block;
        height: 100px;
        margin-top: 0;
        width: 75%;
    }
}